.App {
  width: 100vw;
  height: 100vh;
}

.portfolio-content {
  width: 100%;
  height: 100%;
  background-color: #3F5A82;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 8rem;
}
