.intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 9999;
}

.animated-block {
  will-change: transform;
}
